<!--Start Table Section-->
<section class="mt-4">
    <div class="container-fluid">
        <div class="nav-icons">
            <div class="row">
                <div class="col-lg-4 col-md-3 col-5">
                    <div class="nav-icons-text">
                        <i class="fas fa-grip-lines mr-3"></i>
                        <span>HR User</span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 col-7">
                    <div class="nav-icons-buttons">
                        <span class="mr-1">Language</span>
                        <div class="btn-group">
                            <button class="en">English</button>
                            <button class="ar">عربي</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="icons">
                        <i class="far fa-envelope mr-3"></i>
                        <i class="fas fa-cog mr-4"></i>
                        <i class="fas fa-caret-down mr-3"></i>
                        <i class="far fa-question-circle mr-3"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="filters mt-4">
            <span>Show</span>
            <button>20<i class="fas fa-chevron-down ml-4 main-color"></i></button>
            <button><i class="fas fa-plus mr-4 main-color"></i>Employee</button>
            <button (click)="openTemplate(template)"><i class="fas fa-plus mr-4 main-color"></i>Add Filter</button>
            <button>Export<i class="fas fa-download ml-4 main-color"></i></button>
        </div>
        <div class=" mt-4">
            <div class="row">
                <div class="col-4">
                    <input type="text" placeholder="Search by name" class="form-control" [(ngModel)]="firstName"
                        (input)="searchByName()" />
                </div>
                <div class="col-4">
                    <input type="text" placeholder="Search by Salary" class="form-control" [(ngModel)]="salary"
                        (input)="searchBySalary()" />
                </div>
                <div class="col-4">
                    <input type="text" placeholder="Search by Hiring Date" class="form-control" [(ngModel)]="HDate"
                        (input)="searchByDate()" />
                </div>
            </div>
        </div>
        <div class="table-result mt-4">
            <div class="col-12 p-0">
                <div class="table-desc table-responsive">
                    <table class="w-100">
                        <thead>
                            <tr>
                                <th class="font-weight-bold main-border-right text-capitalize p-2 employe-name ">Name
                                </th>
                                <th class="font-weight-bold main-border-right  text-capitalize p-2 ">Title
                                </th>
                                <th class="font-weight-bold main-border-right  text-capitalize p-2">Hiring Date
                                </th>
                                <th class="font-weight-bold main-border-right  text-capitalize p-2">Gross Salary</th>
                                <th class="font-weight-bold  text-capitalize p-2">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let employee of employeesContainer | paginate: { itemsPerPage: 10, currentPage: page }">
                                <td class="p-2 main-border-right main-border-bottom text-capitalize">
                                    {{employee.fullName_FL}}</td>
                                <td class="p-2 main-border-right main-border-bottom text-capitalize">
                                    {{employee.position.name_FL}}</td>
                                <td class="p-2 main-border-right main-border-bottom text-capitalize">
                                    {{employee.hiringDate | date:'yyyy-MM-dd'}}</td>
                                <td class="p-2 main-border-right main-border-bottom text-capitalize">
                                    {{employee.firstContractingSalary}}</td>
                                <td class="p-2 text-capitalize main-border-bottom">Terminate Suspend</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--Start Pagination-->
        <div class="text-right mt-2">
            <pagination-controls autoHide="true" (pageChange)="page = $event"></pagination-controls>
        </div>
        <!--End Pagination-->
    </div>
</section>
<!--End Table Section-->
<!--Start Model-->
<ng-template #template>
    <div class="modal-body filters model-filter">
        <div class="mb-4 text-center">
            <span class="">Add Filter</span>
            <button>Salary<i class="fas fa-chevron-down ml-4 main-color"></i></button>
        </div>
        <div class="mb-4">
            <button>Between<i class="fas fa-chevron-down ml-4 main-color"></i></button>
        </div>
        <div class="text-center mb-4">
            <button>5000</button> <span class="ml-3">and</span> <button>10.000</button>
        </div>
        <div class="text-center">
            <button class="mb-2">Confirm</button>
        </div>
    </div>
</ng-template>
<!--End Model-->