<section class="p-2">
    <p class="p-3 mb-0 font-weight-bold">Ahmed</p>
    <div class="">
        <ul class="p-3">
            <li class="text-white mb-3">Home</li>
            <li class="mb-3">Paypbal</li>
            <li class="mb-3">My Playlist</li>
            <li class="mb-3">My Profile</li>
            <li class="mb-3">Reports</li>
            <li class="mb-3">Setting</li>
        </ul>
    </div>
    <div class="social p-3">
        <p>Social</p>
        <ul class="p-0 m-0">
            <li class="d-inline-block mr-1">F</li>
            <li class="d-inline-block mr-1">L</li>
            <li class="d-inline-block mr-1">in</li>
        </ul>
    </div>
</section>